#booking
{
   
    display: none;
    
    border: thin solid;
    width: 500px;
}

#booking_title
{
    font-weight: bold;
    text-align: center;
    border-bottom: solid thin;
}

#booking_contain
{
    min-height: 500px;
}

#booking_action
{
    border-top: solid thin;
}