#loading
{
    display: none;
}

.popup{
  
   background-color:white;
   box-shadow: 10px 10px 5px 5px black;
   position:absolute;
   min-height:300px;
   width:auto;
   
   // position: fixed;
  top: 30%;
  left: 15%;
  
   //top:30%;
   //left:30%;
   z-index: 1002;

}

.middleLayer {
   background-color:#111;
   opacity: 0.65;
   position:absolute;
   z-index: 1000; /*ooveeerrrr nine thoussaaaannnd*/
   top:0px;
   left:0px;
   width:100%;
   min-height: 100%;
   overflow:auto;
}

#popupTitleBox
{
background: #0077b3; 
height:30px; 
text-align:center;
font-size: 16px;
font-weight: bold;


}




.popup_personal_info{
   background-color:#E6E9F2;
   position:absolute;
   min-height:300px;
   width:auto;
   border: solid 2px #B9EAF0;
   // position: fixed;
  top: 30%;
  left: 15%;
  
   //top:30%;
   //left:30%;
   z-index: 1002;

/*for rounded corner works with chrome and mozila*/


}

#popupBtn
{
    background: #2a61d5;
    border-radius:5px 5px 5px 5px;
    color: white;
    font-weight: bolder;
    border: none;
    width: 100px;
}


#checkinStyle
{
    font-size: 14px;
}

#replaceMe{
    padding: 10px;
   
}

#popuptbl th{background-color: #d5e4fb;}
#popuptbl tr:nth-child(even) {background: #f1f2f7}
#popuptbl tr:nth-child(odd) {background: #e6e9f2}


#closePopup, #back
{

	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:35px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
        font-weight: bold;
	padding:0px 5px 0px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;  
        margin-top: 2px;
        margin-right: 4px;
}

.number
{
    font-size:12px;
    font-weight: bold;
    padding:0px 5px 0px 5px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2b665e;  
    float: left;
    border-radius: 35px;
    background: #fff;
    cursor:pointer;
}
