/* 
    Document   : styles
    Created on : Apr 23, 2014, 12:09:06 PM
    Author     : salyani
    Description:
        Purpose of the stylesheet follows.
this file is called by welcome_message in view
folder login inside view filder also uses these styles
*/

::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		margin: 0px;
                padding: 0px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body{
		margin: 0 15px 0 15px;
	}
	
	p.footer{
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
	
	#container{
		margin: 10px;
		border: 1px solid #D0D0D0;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
	}
        input
        {
            padding: 5px;
            min-width: 20px;
        }
        select
        {
            width: 100px;
            padding: 5px;
        }
        
        .checkForm
        
        {
            font-weight:bold;
            font-size: 18px;
              
        }
        
         #topNavigationWithSlider
            {
                background: url('../images/booking1.jpg') fixed center; 
                background-repeat: no-repeat;
                width: 100%;
                height: 450px;
                border-bottom: 2px solid #fff;
                
            }
           
        #topNavigationDiv
            {
                margin: 0px;
                height: 50px;
                background-color: black;
                color: #fff;
                position: fixed;
                width: 100%;        

            }
            #topNavigationDiv:hover
            {
                opacity: 1;
            }
            #topNavigationDiv a
            {
                color: #fff;
                text-decoration: none;
                margin-right: 20px;
                opacity: 1;
                font-weight: bold;            
            }
             #topNavigation
            {
                padding:5px 50px 5px 50px ;
                margin:0PX;
                text-align:right;

            }
             #logoDiv
            {
                width: 5%;
                float: left;

            }
            #logoDiv img
            {
                width: 50px;
                height: 45px;
                margin: 0px;
                padding: 0px;
            }
            .signupDiv, .loginDiv
            {
                width: 25%;
                margin: 0 auto 0 auto;
                text-align: center;
                background-color: #E0E0E0;
                padding: .5%;
            }
        .centerDiv
            {
                padding: 10px;
                margin: 0 auto 0 auto;
                width: 80%;
              

            }
            
            #sliderDescriptionDiv
            {
                padding-top: 200px;
                text-align: right;
                


            }
            #sliderDescriptionDiv h2,   #sliderDescriptionDiv p
            {
                 color: white;
            }
            
            .container
            {
                margin: 10px;
		border: 1px solid #D0D0D0;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
                width: 98.3%;
                float: left;
            }
            
            .sitemap
            {
                width: 23%;
                
                padding: 12px;
                float:left;
                text-align: center;
            }
            
            p.footerLeft
            {
                float: left;
               text-align: center;
                width: 50%;
                margin: 0px;
                padding: 0px;
                
            }
            hr.hr-gradient
{
    background: -webkit-linear-gradient(to right, #FFFFFF, #6A6868 50%, #FFFFFF);
    background: -o-linear-gradient(to right, #FFFFFF, #6A6868 50%, #FFFFFF);
    background: -moz-linear-gradient(to right, #FFFFFF, #6A6868 50%, #FFFFFF);
    background:  linear-gradient(to right, #FFFFFF, #6A6868 50%, #FFFFFF);
    background-repeat: no-repeat;
    border: 0 none;
    height: 3px;
    
}



/* for login view*/
.textbox
{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
}
